.name {
    margin-top: 80px;
}


.first {
    height: 40px;
    width: 100%;
    background: #ddd;
}

.second {
    height: 40px;
    background: #009200;
}

.third {
    margin-left: 190px;
    height: 38px;
}

.progress-label {
    position: absolute;
    right: 10px;
    color: white;
  }
  
  .progress-bar {
    width: 100%;
    height: 70px;
    background-color: #f3f3f3;
    border-radius: 3px;
    position: relative; /* new */
    color: #000; /* new */
  }
  
  .progress-fill {
    height: 100%;
    background-color: #3c763d;
    border-radius: inherit;
    display: flex; /* new */
    align-items: center; /* new */
    justify-content: center; /* new */
    color: #fff; /* new */
  }