.name {
    margin-top: 80px;
}


.first {
    height: 40px;
    width: 100%;
    background: #ddd;
}

.second {
    height: 40px;
    background: #009200;
}

.third {
    margin-left: 190px;
    height: 38px;
}