
<h1>Select if you want to buy/sell power in the next hours</h1>

<table>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Value</th>
        <th>Unity</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <!-- Add more column headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datapoint of tableData">
        <td><input type="radio" name="selectedItem" [(ngModel)]="datapoint.selected" [value]="datapoint" /></td>
        <td>{{ datapoint.id }}</td>
        <td>{{ datapoint.value}}</td>
        <td>{{ datapoint.unity}}</td>
        <td>{{ datapoint.startDate }}</td>
        <td>{{ datapoint.endDate}}</td>
        <!-- Add more table cells for other properties -->
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    <label for="numberInput">Buy/Sell how much power in Watts:</label>
    <input type="number" id="numberInput" [(ngModel)]="fill" />
    <br>
    <label for="maxInput">Buy/Sell to which level max:</label>
    <input type="number" id="maxInput" [(ngModel)]="fillTo" />
    <br>
    <label for="buy">Buy?</label>
    <input type="checkbox" id="buy" [(ngModel)]="buy"/>
    <button (click)="submitData()">Submit</button>
  </div>