
<h1>Select if you want to buy/sell power in the next hours</h1>

<table>
    <thead>
      <tr>
        <th></th>
        <th>Value</th>
        <th>Unity</th>
        <th>Date and Hour</th>a
        <!-- Add more column headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datapoint of tableData">
        <td><input type="radio" name="selectedItem" [(ngModel)]="datapoint.selected" [value]="datapoint" /></td>
        <td>{{ roundValue(datapoint.value )}}</td>
        <td>{{ datapoint.unity}}</td>
        <td>{{ datapoint.startDate | date: 'dd.MM.yyyy HH:mm' }}</td>
        <!-- Add more table cells for other properties -->
      </tr>
    </tbody>
  </table>
  <br>
  <div style="margin-bottom: 1em;">
    <label for="numberInput" style="display: block; margin-bottom: 0.5em;">Buy/Sell how many kWH:</label>
    <input type="number" id="numberInput" [(ngModel)]="fill" style="margin-bottom: 1em;"/>
    <br>
    <label for="maxInput" style="display: block; margin-bottom: 0.5em;">Buy/Sell to which level max:</label>
    <input type="number" id="maxInput" [(ngModel)]="fillTo" style="margin-bottom: 1em;"/>
    <br>
    <label for="buy" style="display: block; margin-bottom: 0.5em;">Buy?</label>
    <input type="checkbox" id="buy" [(ngModel)]="buy" style="margin-bottom: 1em; margin-left: 1em;"/>
    <br>
    <button (click)="submitData()" style="margin-top: 1em;">Submit</button>
</div>